html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;

    background: #FFAFBD;
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
    background: linear-gradient(to right, #ffc3a0, #FFAFBD);
}

.white-block {
    background-color: white;
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-wrapper {
    height: 100%;
    display: flex;
}

.name-header {
    color: white;

    font-family: serif;
    font-weight: bolder;
    font-size: 4em;

    width: 60%;
    padding: 2em 0 0 1em;
}

#name {
    -webkit-text-stroke: 2px white;
    color: rgba(0, 0, 0, 0);
}

.joke-wrapper {
    background-color: white;

    margin-top: 1em;
    padding: 1.5em;
    
    height: 250px;
    width: 850px;

    border-radius: 10px;
    box-shadow:
        0.9px 0.7px 2.2px rgba(0, 0, 0, 0.02),
        2.1px 1.7px 5.3px rgba(0, 0, 0, 0.028),
        4px 3.3px 10px rgba(0, 0, 0, 0.035),
        7.1px 5.8px 17.9px rgba(0, 0, 0, 0.042),
        13.4px 10.9px 33.4px rgba(0, 0, 0, 0.05),
        32px 26px 80px rgba(0, 0, 0, 0.07)
    ;

    position: absolute;
    top: 35%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

pre {
    font-size: 1.5em;

    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#chad {
    height: 400px;
}
