<html>
  <head>
    <title>Joke of The Day</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="name-header">
        Enter your name
      </div>

      <form method="get" action="joke">
        <input name="name" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
