<html>
  <head>
    <title>Joke of The Day</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    Enter your name
    <form method="get" action="joke">
      <input name="name" />
      <input type="submit" />
    </form>
  </body>
</html>
