<html>
  <head>
    <title>Joke of The Day</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    The Joke of the day for <%- name %> is
    <!-- Maintain new lines in joke -->
    <pre><%- joke %></pre>
  </body>
</html>
