<html>
  <head>
    <title>Joke of The Day</title>
    <link rel="stylesheet" type="text/css" href="css/joke.css" />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="name-header">
        The Joke of the day <br>for <em id="name"><%- name %></em> is
      </div>

      <div class="white-block">
        <img id="chad" src="gigachad.webp" alt="chad">
      </div>
    </div>

    <div class="joke-wrapper">
      <!-- Maintain new lines in joke -->
      <pre><%- joke %></pre>
    </div>
  </body>
</html>
